* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}

:root {
  /* primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
  --light-grey-transparent: rgba(240, 232, 232, 0.39);
  /* Neutral */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  /* fonts */
  --Barlow: "Barlow", sans-serif;
  --Fraunces: "Fraunces", serif;
}

img {
  max-width: 100%;
}

.row {
  display: flex;
}

h2,
h3 {
  font-family: var(--Fraunces);
}

p {
  font-family: var(--Barlow);
  font-size: 0.8rem;
  font-weight: 700;
}

/*  header*/

header {
  width: 100%;
  background-color: #3ebfff;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 35vh;
}

nav {
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
}

ul {
  gap: 2rem;
  align-items: center;
}

ul li a {
  color: var(--White);
}

#about {
  margin-left: 1rem;
  background: var(--White);
  color: black;
  width: 7rem;
  display: block;
  text-align: center;
  padding: 0.7rem;
  border-radius: 100px;
  font-family: var(--Fraunces);
  font-weight: 900;
  transition: 0.5s ease;
}

#about:hover {
  background: var(--light-grey-transparent);
  color: var(--White);
}

#inside-header-content {
  color: var(--White);
  font-family: var(--Fraunces);
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1rem;
  margin-bottom: 5rem;
}

#inside-header-content h1 {
  margin-bottom: 3rem;
}

.mobile-btn {
  display: none;
  font-size: 2rem;
  color: var(--White);
}

.mobile-menu {
  background-color: var(--White);
  width: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 5rem;
  position: absolute;
  text-align: center;
  display: none;
}

.mobile-menu ul li a {
  color: var(--Very-dark-grayish-blue);
}

.mobile-menu ul li {
  padding: 1rem;
}

.mobile-menu.active{
  display: block;
}

.contact {
  background: var(--Yellow);
  color: black;
  display: block;
  width: 7rem;
  text-align: center;
  padding: 0.7rem;
  border-radius: 100px;
  font-family: var(--Fraunces);
  font-weight: 900;
  transition: 0.5s ease;
  margin: 0 auto;
}

/* main */

main,
.main-content {
  width: 100%;
  flex-wrap: wrap;
}

.first-image {
  background-image: url("../images/desktop/image-transform.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.second-image {
  background-image: url("../images/desktop/image-stand-out.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.third-image {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fourth-image {
  background-image: url("../images/desktop/image-photography.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.inside-content {
  width: 50%;
  min-height: 30rem;
  align-items: center;
  justify-content: center;
}

.inside-box {
  width: 55%;
  padding: 1rem;
}

.inside-box h2 {
  margin-bottom: 1rem;
  color: var(--Very-dark-desaturated-blue);
}

.inside-box p {
  margin-bottom: 1rem;
  color: var(--Very-dark-grayish-blue);
}

.content-links {
  color: var(--Very-dark-desaturated-blue);
  font-family: var(--Fraunces);
  font-weight: 700;
  position: relative;
  z-index: 99;
}

.content-links::after {
  position: absolute;
  content: "";
  background-color: var(--Yellow);
  width: 0rem;
  height: 0.4rem;
  bottom: 0.001rem;
  left: 0;
  opacity: 1;
  border-radius: 100px;
  transition: 0.7s ease;
  z-index: -1;
}

.content-links::before {
  position: absolute;
  content: "";
  background-color: var(--Yellow);
  width: 6rem;
  height: 0.4rem;
  bottom: 0.001rem;
  left: 0;
  opacity: 0.2;
  border-radius: 100px;
}

.content-links:hover::after {
  width: 6rem;
}

.content-links-second::before {
  position: absolute;
  content: "";
  background-color: var(--Soft-red);
  width: 6rem;
  height: 0.4rem;
  bottom: 0.001rem;
  left: 0;
  opacity: 0.2;
  border-radius: 100px;
}

.content-links-second::after {
  position: absolute;
  content: "";
  background-color: var(--Soft-red);
  width: 0rem;
  height: 0.4rem;
  bottom: 0.001rem;
  left: 0;
  opacity: 0.5;
  border-radius: 100px;
  transition: 0.7s ease;
  z-index: -1;
}

.content-links-second:hover::after {
  width: 6rem;
}

.graphic-design,
.photography {
  text-align: center;
  align-self: flex-end;
  width: 50%;
}

.graphic-design h2,
.graphic-design p {
  color: var(--Dark-moderate-cyan);
}

.photography h2,
.photography p {
  color: var(--Dark-blue);
}

.testimonials {
  width: 100%;
  padding: 8rem;
}

.testimonials h2 {
  text-align: center;
  color: var(--Grayish-blue);
}

.clients {
  margin-top: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.testimonial-img {
  width: 5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.testimonial-content {
  width: 20rem;
  text-align: center;
  padding: 1rem;
}

.testimonial-content p {
  color: var(--Very-dark-grayish-blue);
  margin-bottom: 2rem;
}

.testimonial-content h3 {
  color: var(--Very-dark-desaturated-blue);
  margin-bottom: 0.3rem;
}

.details {
  font-size: 0.8rem;
  font-family: var(--Barlow);
  color: var(--Dark-blue);
}

#carrossel {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.carrosel-cone,
.carrosel-milk,
.carrosel-orange,
.carrosel-sugar {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 25rem;
}

.carrosel-milk {
  background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
}

.carrosel-orange {
  background-image: url("../images/desktop/image-gallery-orange.jpg");
}

.carrosel-cone {
  background-image: url("../images/desktop/image-gallery-cone.jpg");
}

.carrosel-sugar {
  background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
}

footer {
  width: 100%;
  padding: 5rem;
  background-color: var(--Dark-moderate-cyan);
}

.logo{
  max-width: min-content;
}

#foooter-content {
  max-width: 360px;
  color: var(--Dark-desaturated-cyan);
  margin: 0 auto;
  text-align: center;
}

#foooter-content ul {
  justify-content: center;
  margin-block: 2rem;
  cursor: default;
  font-size: 1rem;
  font-family: var(--Barlow);
}

#foooter-content ul i {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #carrossel {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .carrosel-cone,
  .carrosel-milk,
  .carrosel-orange,
  .carrosel-sugar {
    width: 100%;
  }
}

@media (max-width: 540px) {
  #creative {
    font-size: 2.5rem;
  }

  .menu {
    display: none;
  }

  .main-content {
    flex-direction: column;
  }
  .inside-content {
    width: 100%;
    order: 2;
  }

  .first-image,
  .second-image {
    order: 1;
  }

  .mobile-btn{
    display: block;
  }
}

@media (max-width: 450px){
  .testimonials{
    padding: 2rem;
  }
}
